<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>debug</param-name>
		<param-value>false</param-value>
	</context-param>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>AddCustomer</display-name>
		<servlet-name>AddCustomer</servlet-name>
		<servlet-class>com.action.AddCustomer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCustomer</servlet-name>
		<url-pattern>/AddCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManageCustomer</display-name>
		<servlet-name>ManageCustomer</servlet-name>
		<servlet-class>com.action.ManageCustomer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageCustomer</servlet-name>
		<url-pattern>/ManageCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddProduct</display-name>
		<servlet-name>AddProduct</servlet-name>
		<servlet-class>com.action.AddProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProduct</servlet-name>
		<url-pattern>/AddProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddShoes</display-name>
		<servlet-name>AddShoes</servlet-name>
		<servlet-class>com.action.AddShoes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddShoes</servlet-name>
		<url-pattern>/AddShoes</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManageProduct</display-name>
		<servlet-name>ManageProduct</servlet-name>
		<servlet-class>com.action.ManageProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageProduct</servlet-name>
		<url-pattern>/ManageProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddOrder</display-name>
		<servlet-name>AddOrder</servlet-name>
		<servlet-class>com.action.AddOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddOrder</servlet-name>
		<url-pattern>/AddOrder</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManageOrder</display-name>
		<servlet-name>ManageOrder</servlet-name>
		<servlet-class>com.action.ManageOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageOrder</servlet-name>
		<url-pattern>/ManageOrder</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DetailCustomer</display-name>
		<servlet-name>DetailCustomer</servlet-name>
		<servlet-class>com.action.DetailCustomer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailCustomer</servlet-name>
		<url-pattern>/DetailCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DetailProduct</display-name>
		<servlet-name>DetailProduct</servlet-name>
		<servlet-class>com.action.DetailProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailProduct</servlet-name>
		<url-pattern>/DetailProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DetailOrder</display-name>
		<servlet-name>DetailOrder</servlet-name>
		<servlet-class>com.action.DetailOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailOrder</servlet-name>
		<url-pattern>/DetailOrder</url-pattern>
	</servlet-mapping>
</web-app>